@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

:root {
    --primary-color: #4361ee;
    --secondary-color: #7209b7;
    --accent-color: #f72585;
    --dark-bg: #212529;
    --light-bg: #f8f8f8;
    --purple: rgb(181, 7, 249);
    --purple2: rgb(170, 7, 210);
    --blue: rgb(4, 170, 247);
    --blue2: rgb(4, 126, 245);
    --blue3:rgb(59, 94, 247);
    --purple3: rgb(170, 7, 250);
    --yellow:rgb(251, 239, 7);
    --yellow2:rgb(255, 230, 0);
    --black2:rgb(73, 71, 71);
    --grey:rgb(72, 72, 72);
    --titanium:#125875;
}
body{
    font-family: 'poppins';
}

/* .my:hover{
    transform: scale(1.15);
    font-weight: bold;
   
} */

/*navbar*/

.navbar {
    padding: 15px 0px;

}

.navbar-brand {
    font-weight: bold;
    letter-spacing: 1px;
    

}

.nav-link {
    position: relative;
    margin: 5px;
}
/* 
.nav-item a:hover{
    background-color: #f8f8f8;
    color: black;
    
} */

 .nav-link:after {
    position: absolute;
    width: 0;
    content: "";
    height: 2px;
    bottom: 0px;
    left: 0px;
    /* background: #f8f8f8; */
    transition: width 0.8s;
    font-weight: bold;
    font-size: medium;

} 

.nav-link:hover::after {
    width: 100%;
    font-weight: bold;
    
}
.nav-link:hover{
    
    font-weight: bold;
}

/*Hero/sec*/

.hero-section{
    /* background-image: linear-gradient(125deg,var(--black2),var(--grey),var(--grey),var(--black2),var(--black2) ); */
    background-image: linear-gradient(100.16deg, #262627 9.94%, #3d3d3d 54.82%, #797878 95.56%);
    color: var(white);
    padding: 120px 0 100px;
    height: 590px;
}

/*Profile*/
 .profile-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 2px solid var(--light-bg);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, box-shadow 0.3s;
    cursor: pointer;

    
} 

.profile-img:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transition-property: width;
    transition-duration:1000ms ;
    transition-timing-function:ease ;
    transition-delay:0s ;
}


.b1:hover{
    transform: scale(1.15);
    
    
}
/*Section*/

section{
    padding-top: 60px;
    margin-top: 0px;
    position: relative;
    z-index: 1;

}
.section-title{
    position: relative;
    display: inline-block;
    margin-bottom: 60px;
    font-weight: 700;
    color: var(--dark-bg);
    padding: 20px 0;
    text-shadow: 1px 1px 1px rgb(0, 0, 0.1);
}
.section-title::after{
    position: absolute;
    content: "";
    width: 80px;
    height: 4px;
    background: var(--primary-color);
    bottom: -5%;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 2px;
}

/*badge*/

.skill-badge{
    margin: 5px;
    padding:8px 15px ;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 0.5px;
    transition: transform 0.2;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
    
    
}

.skill-badge:hover{
    transform: translateY(-3px);
    background-color: #f8f8f8;
    color: black;
    
}



/*Card*/

.card{
    border: none;
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    
    
}


/*project*/


.project-card{
    border-radius: 10px;
    box-shadow: 1px 5px 15px rgba(0, 0, 0, 0.2);
    border: none;
    overflow: hidden;
    transition: all 0.4s;
}
.project-card:hover{
    transform: scale(1.05);
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
    
}
.pro:hover{
    background-color: rgb(136, 0, 255);
    border: none;
    color: rgb(255, 255, 255);
    transition-duration:0.2s ;
}
.btn{
    border-radius: 1px;
    
    letter-spacing: 1px;
    transition: all 0.4s;
    font-weight: 500;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: rgba(0, 0, 0, 0.3);
    
}
footer{
    background: #125875;
    color: white;
    padding: 40px 0;
}
/* .fob:hover{
    border
    border-radius: 10px;
    border-color: #f8f8f8;
} */


.view-all{
    background-color: #3e6ae1;
    color: #f8f8f8;
}
.view-all:hover{
    background-color: rgb(119, 1, 255);
    transform: scale(1.15);
    transition-duration: 0.2s;
    border: none;
    /* display: block;
    filter: drop-shadow(0 0 10px white); */



}


.fb:hover{
    background-color: #0266fd;
    color: #f8f8f8;
    border: #0266fd;
    
}
.fb i:hover{
    color: #f8f8f8;
}

.findme{
    position: relative;
    text-shadow: 1px 1px 1px rgb(254, 251, 251);
}
.findme::after{

   position: absolute;
    content: "";
    width: 100px;
    height: 2px;
    background: var(--yellow2);
    font-weight: bold;
    bottom: -35%;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 20px;
    
}
.arrow:hover{
    color: #f8f8f8;
    background: transparent;
    
    
}


@media (max-width: 1024px) {


    .skill-badge {
        width: 100%;
    }

    .hero-section{
        height: 610px;
    }
    .ci{
        font-size: 10px;
    }
    .navbar {
        height: 300px;
    }
    
}

@media (min-width:430px){
    .navbar {
        height: 150px;
    }
    p{
        font-size:40px;
    }
    .my {
        font-size: 35px;
    }
    .san{
        font-size: 40px;
    }
    .se{
        font-size: 30px;
    }

    .hello {
        height: 70px;
        width: 70px;
    }

    .navbar-toggler {
        font-size: 45px;

    }

    .hero-section {
        height: 800px;
    }

    .profile-img {
        height: 350px;
        width: 350px;
        object-fit: cover;
        border: 2px solid var(--light-bg);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
        transition: transform 0.3s, box-shadow 0.3s;
        cursor: pointer;
    }
    .sanithu{
        height: 50px;
        width: 350px;
    }
}
